/* This file holds the styles specific to the about page */

/* Tab headers */
h1 {
    text-align: center;
    background-color: #E8EAF6;
    color: rgba(0, 0, 0, 0.75);
}

a.mdl-tabs__tab {
    width: 30%;
}

/* Link/label styling */
a.mdl-list__item-primary-content {
    text-decoration: none;
}

button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent {
    color: white;
    margin-bottom: 1em;
}

.linkList {
    text-align: center;
    justify-content: center;
}

.linkLabel {
    text-align: center;
    font-size: 1.5em;
}

/* Info styling */
.tabInfo {
    width: 80%;
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    line-height: 2em;
}

/* Team cards */
div.apahCards.mdl-card.mdl-cell {
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
    margin-bottom: .25em;
    width: 20em;
    height: 22em;
}

img.apahPics {
    width: 12em;
    height: 12em;
    border-radius: 50%;
}

#github {
    font-size: 1.25em;
    margin-top: 1em;
    width: 100%;
}
