/* This file holds styles common to both pages (navbar). */

/* Welcome card */
.transparent-overlay {
  position: fixed;
  background-color: rgba(96, 125, 139, .8);
  width: 100%;
  height: 100%;
  z-index: 1001;
}

/* Navbar */
span.mdl-layout-title {
    font-size: 2.5em;
    margin-right: .5em;
}

span.subtitle {
    font-size: .5em;
}

a.mdl-navigation__link {
    font-size: 2em;
}

/* Map stuff */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#mapid {
    width: 100%;
    height: 100%;
}

.search-input {
    font-family:Courier
}
.search-input,
.leaflet-control-search {
    max-width:400px;
}

.hidden {
    display: none;
}

.leaflet-top {
    margin-top: 5em;
}
