
#welcome-card {
  margin: auto;
  position: absolute;
  left: 50%; top: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

#slider-container {
  margin: auto;
  position: absolute;
  width: 50%;
  left: 50%; top: 100%;
  transform: translateY(-100%) translateX(-50%);
  z-index: 1002;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#map-slider {
  flex: 1;
  width: auto;
}

#slider-text {
  width: 5em;
  padding-top: 0; padding-bottom: 0;
}

.mdl-textfield__input {
  text-align: center;
}

#submit-button {
  width: 10em;
  padding-top: 0; padding-bottom: 0;
  margin-left: 10px; margin-right: 10px;
  font-weight: bold;
}

#clear-button {
  width: 10em;
  padding-top: 0; padding-bottom: 0;
  margin-left: 10px; margin-right: 10px;
  font-weight: bold;
}
