div.mdl-card__supporting-text {
    font-size: 20px;
    line-height: 22px;
}

h2.mdl-card__title-text {
    font-size: 32px;
}

#welcome-card, #wait-card {
  margin: auto;
  position: absolute;
  left: 50%; top: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
  width: 40%;
  height: 40%;
}

#sliderControls {
    z-index: 1002;
    position: absolute;
    width: 25%;
    left: 50%; top: 89%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}

#slider-container {
  margin: auto;
  position: absolute;
  width: 50%;
  height: 5%;
  left: 50%; top: 100%;
  transform: translateY(-100%) translateX(-50%);
  z-index: 1002;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#slider-text {
    width: 10%;
  padding-top: 0; padding-bottom: 0;
}

#map-slider {
    width: 70%;
}

.mdl-textfield__input {
  text-align: center;
}

#submit-button {
  width: 40%;
  padding-top: 0; padding-bottom: 0;
  margin-left: 10px; margin-right: 10px;
  font-weight: bold;
}

#clear-button {
  width: 40%;
  padding-top: 0; padding-bottom: 0;
  margin-left: 10px; margin-right: 10px;
  font-weight: bold;
}

#spinner {
    z-index: 1003;
}

#sliderLabel {
    color: #3f51b5;
    font-weight: bold;
    font-size: 14px;
}
